.navbar li {
  display: inline-block;
  text-align: center;
}

a{
  color: white;
}

a:hover{
color: lightpink;
text-decoration: none;
}

.itemLeft {
  width: 33.3%;
  font-family: 'Oswald', sans-serif;
}

.itemCenter {
  width: 33.3%;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: lightpink;
  font-size: 1.25em;
}

.itemRight {
  width: 33.3%;
  font-family: 'Oswald', sans-serif;
}

.navbar {
  background: #3071b7;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

li {
  color: white;
  padding: 15px 0;
  list-style-type: none;
}

ul{
    width: 100%;
}

body {
  font-size: 24px;
}
  

  


