.footer li {
  display: inline-block;
  text-align: center;
}

.footer {
    padding-top: 50px;
    background: #3071b7;;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }

  .footerLeft {
    width: 33.3%;
    font-family: 'Oswald', sans-serif;
  }
  
  .footerCenter {
    width: 33.3%;
    font-family: 'Oswald', sans-serif;
  }
  
  .footerRight {
    width: 33.3%;
    font-family: 'Oswald', sans-serif;
  }

  li {
    color: white;
    padding: 15px 0;
    list-style-type: none;
  }
  
  ul{
      width: 100%;
  }

  .logo{
  width: 7%;
  height: 7%;
  }
  